* {
  font-family: 'Montserrat';
}

.imgSectionAbout {
  width: 100%;
  height: 223px;
}

.imgSectionAboutResponsive {
  display: none;
}

.containerAbout {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 15px;
}


@media only screen and (max-width: 600px) {
  .imgSectionAbout {
    display: none;
  }

  .imgSectionAboutResponsive {
    display: block;
    width: 100%;
    height: 223px;
    border-radius: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .imgSectionAbout {
    display: none;
  }

  .imgSectionAboutResponsive {
    display: block;
    width: 100%;
    height: 223px;
    border-radius: 25px;
  }
}

@media only screen and (max-width: 1200px) {}