* {
  font-family: 'Montserrat';
}

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgLocation {
  width: 100%;
  height: 415px;
  border-radius: 5px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.locationTitle {
  font-family: 'Montserrat';
  font-size: 36px;
  color: #FF6060;
  margin-bottom: 0px;
}

.locationSubtitle {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #FF6060;
  margin-top: 0px;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.tagName {
  color: #FFFFFF;
  background-color: #FF6060;
  border: none;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  margin-right: 10px;
}

.owner {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  color: #FF6060;
  height: 52px;
}

.ownerName {
  font-size: 18px;
  margin: 0px;
}

.ownerImg {
  width: 64px;
  width: 64px;
}

.rating {
  width: 30px;
  height: 30px;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.dropdownLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #FF6060;
  color: #FFFFFF;
  width: 582px;
  height: 52px;
}

.collapsible:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
  .imgLocation {
    Width: 335px;
    Height: 255px;
  }

  .introduction {
    flex-direction: column;
  }

  .locationTitle {
    font-size: 18px;
  }

  .locationSubtitle {
    font-size: 14px;
  }

  .tagName {
    width: 84px;
    height: 14px;
    font-size: 10px;
  }

  .owner {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .ownerName {
    width: 93px;
    height: 33px;
    font-size: 12px
  }

  .ownerImg {
    width: 32px;
    width: 32px;
  }

  .dropdownContainer {
    flex-direction: column;
  }
}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1200px) {}